@page
@model yuvap.Pages.YP.pGirl.GetRegNumForEditGirlModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Female:<h4>
<h4> After submitting Your Reg. Number, You can Enter Your Data. </h4>
<h4>Please note that you are not allowed to modify your data after once done.</h4>
<h5>Consult your Admin to solve any problem.</h5>

<form action="./EditWithLikes">
  Type Your Reg. Number Without Prefix Like M/F etc:<br>
  <input type="text" name="id" ><br>  
  <input type="submit" value="Submit">
</form>