@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    घटलोडिया
<br />
    अहेमदाबाद <br />
    <abbr title="Mobile">Mo:</abbr>
    9586887180
</address>

<address>
    <strong>Support:</strong> <a href="mailto:niranjanbhuta@yahoo.com">niranjanbhuta@yahoo.com</a><br />  
</address>
