@page
@model ErrDuplicateRecordModel
@{
    ViewData["Title"] = "Error Duplicate Record";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>"The data for this Code has already been entered. Contact admin to resolve the issue. "</p>
