@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-8">
        <h2>Yuva Parichay</h2>
        <ul>
            <li>अविवाहित युवक युवती परिचय सम्मेलन दौरान जो प्रत्याशी एक दूसरे को मिलना चाहते है उनको
 अपनी (preference) पसंद के प्रत्याशीयो  का registration number introduction session के बाद इस website के फ़ॉर्म में अपने मोबाइल के ज़रिए डालना है।</li>
            <li>इसके लिए आपको login करने की ज़रूरत नहीं है।</li>
	    <li>यह data admin के द्वारा process करके आपको ये जानकारी तुरंत website से आपके मोबाइल पर दी जायगी कि आपको कौन प्रत्याशी मिलना चाहता है।</li>
	    <li>ये जानकारी अन्यथा मिल नहीं सकती।</li>	
	    <li>इसके बाद उन प्रत्याशीयो को मिलने के लिए आपके पास पूरा समय रहता है।</li>	
		<br>
        	<h3>कृपया ध्यान दीजिए:</h3>	 
		<li>एक बार entry submit कारनेके बाद आप ख़ुद इसमें सुधार नहीं कर सकते।</li>
		<li>कोईभी दिक़्क़त हो तो admin से बात करने पर समाधान निकल सकता है।</li>
		
        </ul>
    </div>    
</div>
