@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>यह website सामाजिक सेवा के लिए बनाई गयी है। इसके लिए किसिको कोई भुगतान नहीं करना है।</p>
