<style type="text/css">
        .TemplateTable
        {
            width: 80%;
            margin-left: 3%;
            border: 2px solid #a7a8a7;
            margin-top: 30px;
            padding-left: 35px;
            font-size: 15px;
            font-style: initial;
            font-weight: bold;
            color: #a7a8a7;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .TemplateTable tr td div
        {
            float: left;
            padding-right: 10px;
            font-size: 16px;
        }
        .TemplateTable tr td div a
        {
            color: Blue;
        }
        .custom-tablePopup
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            margin: 10px 0 0 0;
            padding: 0;
            border-right: 1px solid #bebebe;
            border-top: 1px solid #bebebe;
            border-bottom: 1px solid #bebebe;
        }
        .custom-tablePopup th
        {
            background: #ff5c00 !important;
            text-align: left;
            border-left: 1px solid #bebebe;
            border-bottom: 1px solid #bebebe;
            padding: 5px 8px;
            color: #fff;
        }
        .custom-tablePopup td
        {
            border-left: 1px solid #bebebe;
            padding: 4px 8px;
        }
        .custom-tablePopup tr:nth-child(even)
        {
            background: #f8f8f8;
        }
    </style>
